<div style="width:100%!important;margin:0;padding:0">
    <center>
        <p style="margin:20px 0">Thanks for signing up with Rooks!</p>
        <p style="margin:20px 0">Here's your OTP</p>

            <h2>{{OTP}}</h2>

        <p style="margin:20px 0">
            Regards,<br>
            The Rooks Team<br>
            <!-- <a href="https://heroku.com" style="color:#6e5baa" target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://heroku.com&amp;source=gmail&amp;ust=1708765379562000&amp;usg=AOvVaw1sL1CApdPTAOvfD3EXp1xh">https://heroku.com</a>-->
        </p>

    </center>
</div>